<div class="jumbotron">
  <h1>Congratulations, you have seen me!</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2>
        <!-- Here is where you will show the email address, remember to pass it from your controller --> 
        {{ user.email }}
       </h2>
    </div>
  </div>
</div>